@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DT102G_project_web</title>
    <link rel="stylesheet" href="~/css/admin_style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Peddana&display=swap" rel="stylesheet">

</head>
<body>
    <header class="admin-header">
        <nav class="admin-header-nav">
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <!--Show meny when logged in-->
    @if (SignInManager.IsSignedIn(User))
    {
        <nav class="admin-main-nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Work" asp-action="Index">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Education" asp-action="Index">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PersonalInformation" asp-action="Index">About me</a>
                </li>
            </ul>
        </nav>

    }
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="admin-footer">
        <p>&copy; 2021 - DT102G_project_web</p>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
