@model DT102G_project_web.Models.Project;

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4 class="delete-question">Are you sure you want to delete the project with the name of: @Model.Name ?</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjectId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>