/*CV header*/
#cv-header {
    @include standard-container;
    height: 100%;
    position: relative;
    display: flex;
    #cv-header-image{
        background: url(../../images/header-background.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center; 
        width: 80%;
        height: 800px;
    }
    #cv-header-empty {
        width: 20%;
        height: 100%;
    }
    #cv-header-info {
        position: absolute;
        width: 50%;
        height: 62%;
        box-sizing: border-box;
        background-color: $beige;
        top: 20%;
        left: 5%;
        padding: 10em 2em 0 5em;
    }
    #cv-header-name {
        font-size: 6em;
    }
    #cv-header-text{
        font-size: 1.5em;
        padding: 3em 6em 0 0;
    }
}

/*responsive design for CV header*/

@media (max-width: 1200px) { 
    #cv-header {
        #cv-header-info {
            width: 72%
        }
        #cv-header-name {
            font-size: 5em;
        }
    } 
}

/*CV header tablet design */
@include tablet { 
    #cv-header {
        #cv-header-info {
            width: 80%;
        }
        #cv-header-name {
            font-size: 3.5em;
        }
    }  
}

/*CV header phone design*/
@include phone { 
    #cv-header {
        #cv-header-image{
            width: 100%;
        }
        #cv-header-empty {
            display: none;
        }
        #cv-header-info {
            width: 90%;
            height: 40%;
            left: 0;
            top: 50%;
            padding: 6em 2em 0 2em;
        }
        #cv-header-name {
            font-size: 2em;
        }
        #cv-header-text{
            font-size: 0.8em;
            padding: 1em 1em 0 0;
        }
    }  
}