/*CV navigation*/
#cv-main-nav {
    ul {
        @include standard-container;
        padding: 7em 0 7em 7em;
        li {
            a {
                font-family: $headings;
                text-decoration: none;
                font-size: 3em;
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}
/*CV navigation for phone*/
@include tablet {
    #cv-main-nav {
        ul {
            padding: 3em 0 2em 3em;
            li {
                a {
                    font-size: 2em;
                }
            }
        }
    }    
}

/*CV navigation for phone*/
@include phone {
    #cv-main-nav {
        ul {
            li {
                a {
                    font-size: 1.5em;
                }
            }
        }
    }    
}