@model DT102G_project_web.Models.Education;

@{
    ViewData["Title"] = "Update";
}

<!--Add project form-->
<h4 class="other-h4">Update Education.</h4>
<hr />

<form method="post">
    <label asp-for="Name">Name of Education:</label><br>
    <input asp-for="Name" /><br>
    @*error message*@
    <span class="form-error-message" asp-validation-for="Name"></span><br />

    <label asp-for="School">Name of School:</label><br>
    <input asp-for="School" /><br>
    @*error message*@
    <span class="form-error-message" asp-validation-for="School"></span><br />

    <label asp-for="StartDate">Start Date:</label><br>
    <input asp-for="StartDate" /><br>
    @*error message*@
    <span class="form-error-message" asp-validation-for="StartDate"></span><br />

    <label asp-for="EndDate">End Date:</label><br>
    <input asp-for="EndDate" /><br>
    @*error message*@
    <span class="form-error-message" asp-validation-for="EndDate"></span><br />

    <label asp-for="Description">Description:</label><br>
    <textarea rows="10" cols="50" asp-for="Description"></textarea><br>
    @*error message*@
    <span class="form-error-message" asp-validation-for="Description"></span><br />

    <!--hidden id-->
    <input type="hidden" asp-for="EducationId" />

    <input class="submit-btn" type="submit" value="Update Education" />
    @if (@ViewBag.FormMessage != null)
    {
        <div class="form-message-div">
            <p>@ViewBag.FormMessage</p>
        </div>
    }
    <a asp-action="Index">Back to List</a>
</form>
